@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;1,100&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;1,100&display=swap');

:root{
    --space-cadet: #1b1b3aff;
    --maximum-yellow: #f8f32bff;
    --glaucous: #6a7fdbff;
    --tiffany-blue: #17bebbff;
    --rusty-red: #dd2d4aff;
    --violet-web: #e980fcff;
    --orange-yellow-crayola: #f2cd5dff;
    --green-yellow-crayola: #f0f2a6ff;
    --green-yellow-crayola: #f0f2a6ff;
    --bittersweet: #ff6b6cff;
    --light-cyan: #d3f3eeff;
    --shade-space-cadet: #1b1b3aa5;
    --shade-maximum-yellow: #f8f32ba5;
    --shade-glaucous: #6a7fdba5;
    --shade-tiffany-blue: #17bebba5;
    --shade-rusty-red: #dd2d4aa5;
    --shade-violet-web: #e980fca5;
    --shade-orange-yellow-crayola: #f2cd5da5;
    --shade-green-yellow-crayola: #f0f2a6a5;
    --shade-green-yellow-crayola: #f0f2a6a5;
    --shade-bittersweet: #ff6b6ca5;
    --shade-light-cyan: #d3f3eea5;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.container{
    width:100%;
    min-height: 100vh;
    background-color: var(--space-cadet);
}


.container-wrapper{
    max-width: 75%;
    margin: 0 auto;
    padding:2rem;
    border-radius: 2px;
    box-shadow: 0 0 4px 2px rgba(15, 15, 15, 0.8);
    margin-bottom: 1rem;
}
